@{
    ViewData["Title"] = "Connectors";
}

@section Scripts {

    <!-- Models required for this page -->
    <script src="~/js/models/common.js"></script>
    <script src="~/js/models/dataitems.js"></script>

    <!-- Vue script for this page-->
    <script src="~/js/pages/connectors/index.js"></script>
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Components</li>
    <li class="breadcrumb-item active">Connectors</li>
</ol>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
</div>

<!--
<form style="margin-top: 50px" method="post" id="analyseForm" name="analyseForm" enctype="multipart/form-data" action="/api/data/analyse/file">
    <input type="file" name="upload" id="upload" />
    <input type="button" class="btn btn-info" id="action" v-on:click="loadAnalysis" name="action" value="Analyse File" />
</form>

<button class="btn" v-on:click="loadDefinition">Load Definition</button>
<button class="btn" v-on:click="loadData">Load Data</button>
<button class="btn" v-on:click="add">Add Property</button>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th v-for="item in definition.itemProperties">
                {{ item.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="line in values.lines">
            <td v-for="item in definition.itemProperties">
                {{ line[item.name] }}
            </td>
        </tr>
    </tbody>
</table>
-->
