@{
    ViewData["Title"] = "Data Definitions";
}

@section Scripts {

    <!-- Models required for this page -->
    <script src="~/js/models/common.js"></script>
    <script src="~/js/models/datadefinitions.js"></script>

    <!-- Vue script for this page-->
    <script src="~/js/pages/datadefinitions/index.js"></script>
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active">Data Definitions</li>
</ol>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Existing Data Definitions
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    <li class="list-inline-item" v-for="item in dataDefinitions">
                        <a v-bind:href="'/datadefinitions/' + item.id">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Data Definition Editor
            </div>
            <div class="card-body">
            </div>
        </div>

    </div>
</div>

