@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script src="~/js/pages/test.js"></script>
}

<div class="row">
    <div class="col-md-12">

        <div id="test">
            <button v-on:click="load">Load Data</button>
            <item-header v-for="item in definition.itemProperties"
                           v-bind:removeclick="remove"
                           v-bind:data="item"></item-header>
        </div>

    </div>
</div>
