@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script language="javascript">

        var app = new Vue({
            el: '#test',
            data: {
                test: 'Hello Vue!',
                message: "This is something"
            }
        })

    </script>
}

<div class="row">
    <div class="col-md-12">

        <div id="test">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
            {{ test }}
        </div>

    </div>
</div>
