@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script src="~/js/pages/test.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <div id="test">
            <button class="btn" v-on:click="load">Load Data</button>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Stuff</th>
                        <th>things</th>
                        <component v-for="item in definition.itemProperties"
                                    :key="item"
                                    :is="itemHeader(item)">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>aaaaa</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
