@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {

    <!-- Vue script for this page-->
    <script src="~/js/pages/home/index.js"></script>
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        Dashboard
    </li>
</ol>

<!-- Main Content -->
<div class="row">
    <div class="col-md-12">
    </div>
</div>
