@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script language="javascript">

        Vue.component('item-property',
            {
                /*data: function () {
                    return {
                        wibble: 'this'
                    }
                },*/
                methods:
                {
                    remove: function () {
                        this.$props["clickevent"](this);
                    }
                },
                props: ['data', 'clickevent'],
                template: '<div v-on:click="remove" v-bind:title="data.description">{{ data.name }}</div>'
            });

        var app = new Vue({
            el: '#test',
            data: {
                definition:
                {
                    itemProperties:
                        [
                        ],
                    propertyBag:
                        [
                        ],
                    culture: 'EN-GB',
                    encodingFormat: 'UTF-8'
                }
            },
            computed: {
                computedExample: function () {
                    return "";
                }
            },
            methods: {
                remove: function (toRemove) {
                    app.definition.itemProperties.splice(
                        app.definition.itemProperties.indexOf(toRemove)
                    );
                },
                load: function () {
                    app.definition.itemProperties.push
                        (
                            {
                                key: 'name',
                                name: 'Name 1',
                                description: 'Description',
                                path: '',
                                ordinalPosition: '',
                                dataType: '',
                                pattern: '',
                                quoted: '',
                                calculation: ''
                            }
                        )
                    /*$.get('/api/testdata', function( data ){
                        app.message = data.value;
                    });*/
                }
            }
        })

    </script>
}

<div class="row">
    <div class="col-md-12">

        <div id="test">
            <button v-on:click="load">Load Data</button>
            <item-property 
                v-for="item in definition.itemProperties"   
                v-bind:clickevent="remove"
                v-bind:data="item"></item-property>
        </div>

    </div>
</div>
