@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script language="javascript">

        var app = new Vue({
            el: '#test',
            data: {
                arrayOfData: [{ title: 'Title' }, { title: 'Title 2' }, { title: 'Title 3' }],
                message: 'stuff'
            },
            computed: {
                computedExample: function () {
                    return "";
                }
            }, 
            methods: {
                methodExample: function () {
                    $.get('/api/testdata', function( data ){
                        app.message = JSON.stringify(data);
                    });
                }
            }
        })

    </script>
}

<div class="row">
    <div class="col-md-12">

        <div id="test">
            <span v-for="item in arrayOfData">
                {{ item.title }}
            </span>
            <input type="button" v-on:click="methodExample" />
            <span>
                {{ message }}
            </span>
        </div>

    </div>
</div>
