@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <!-- Models required for this page -->
    <script src="~/js/models/dataitems.js"></script>

    <!-- Vue script for this page-->
    <script src="~/js/pages/home/index.js"></script>
}

<div class="row">
    <div class="col-md-12">
    </div>
</div>
