<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Portals</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link rel="stylesheet" href="~/lib/animate.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link rel="stylesheet" href="~/lib/animate.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top" id="headercontainer">
        <a class="navbar-brand" href="#">Data Portals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" v-bind:style="{display: (isPackageSelected ? 'inline' : 'none'), visible: (isPackageSelected ? 'visible' : 'hidden')}">
                    <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Components
                    </a>
                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">
                        <a class="dropdown-item" href="#">Wizards</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/connections/index">Connections</a>
                        <a class="dropdown-item" href="~/datadefinitions/index">Data Definitions</a>
                        <a class="dropdown-item" href="~/transformations/index">Transformations</a>
                        <a class="dropdown-item" href="~/apidefinitions/index">API Definitions</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="toolsDropdown">
                        <a class="dropdown-item" href="~/swagger">Swagger</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <select class="form-control" id="packages" name="packages" v-model="page.selectedPackage.key">
                    <option value=""></option>
                    <option v-bind:value="item.key" v-for="item in page.packages">
                        {{ item.value }}
                    </option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
            </form>
        </div>
    </nav>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid" id="contentcontainer">

                <!-- Page Content -->
                @RenderBody()

            </div>
        </div>
    </div>

    <footer style="position:fixed; width: 100%; bottom: 0; background-color: #ffffff; border-top: 2px solid #cccccc">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">

                <!-- Progress bar -->
                <div class="hidden d-none center-block clearfix" id="progressBar">
                    <img src="~/images/icons/loader.gif" />
                </div>

                <span>Copyright © The Naked Developer @DateTime.Now.Year.ToString()</span>
            </div>
        </div>
    </footer>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap-notify/bootstrap-notify.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="~/js/utils.api.js" asp-append-version="true"></script>
        <script src="~/js/utils.ui.js" asp-append-version="true"></script>
        <script src="~/js/models/common.js" asp-append-version="true"></script>
        <script src="~/js/models/packages.js" asp-append-version="true"></script>
        <script src="~/js/pages/common.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-notify/bootstrap-notify.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="~/js/utils.api.js" asp-append-version="true"></script>
        <script src="~/js/utils.ui.js" asp-append-version="true"></script>
        <script src="~/js/models/common.js" asp-append-version="true"></script>
        <script src="~/js/models/packages.js" asp-append-version="true"></script>
        <script src="~/js/pages/common.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
