@{
    ViewData["Title"] = "API Definitions";
}

@section Scripts {

    <!-- Models required for this page -->
    <script src="~/js/models/common.js"></script>
    <script src="~/js/models/apiitems.js"></script>

    <!-- Vue script for this page-->
    <script src="~/js/pages/apidefinitions/index.js"></script>
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active">API Definitions</li>
</ol>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
</div>

